<html>
  <head>
    <title>Order {{ order.pk }}</title>
  </head>
  <body>
    <h2>Order {{ order.pk }}</h1>
    <ul>
        {% for item in order.items.all %}
            <li>
                <p>{{ item.product.name }} - {{ item.product.price }}</p>
                <p>Quantity - {{ item.quantity }}</p>
            </li>
        {% endfor %}
    </ul>
    <p>
        Total price - {{ order.total_price }}
    </p>
    <button id="buy_now_btn">Buy Now</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('{{ checkout_public_key }}');
      var buyButton = document.getElementById('buy_now_btn');
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ order.pk }}', {method: 'GET'})
        .then((response) => response.json())
        .then((json) => stripe.redirectToCheckout({sessionId: json.session_id}));
      })
    </script>

  </body>
</html>